/******************
GENERAL
*******************/

html {
	text-align: center;

}
body {
	text-align: center;
}
/******************
HEADER
*******************/
header a {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 1.5em;
	margin: 0;
}
header {
	background: #ff9696;
	color: #1a0f0f;
	margin-top: -20px;
	margin-bottom: 5%;
	padding: 1% 0 0 0;
	font-family: 'Open Sans', sans-serif;
	}

/******************
FOOTER
*******************/
footer {
	background: #ff9696;
	color: #1a0f0f;
	margin-bottom: -20px;
	margin-top: 5%;
	padding: 1%;
}

/******************
TEXT
*******************/
h1 {
	font-family: 'Lobster', cursive;
	font-size: 5em;
	margin: 0;
}
h2 {
	font-family: 'Vollkorn', serif;
}
p {
	
	font-family: 'Vollkorn', serif;
	font-size: 1.2em;

}
/******************
IMAGES
*******************/
img.normal {
	height: 250px;
	width: 350px;
}

img.logo {
	height: 20px;
	background: #fff;
}

img.about {
	height: 200px;
}
/******************
TABLES
*******************/
table, tr, td {
	
	padding: 15px;
}

td.border {
	border: 2px solid brown;
}

#about {
	width: 50%;
	padding: 0;
 }
 table p {
 	background-color: #fff;
 	text-align: left;
 }